@use "/src/_mixin" as mix;

.searching {

    margin: 30px auto;
  
    &__input {
      width: 30vw;
      height: 5vh;
      text-align: center;
      border-radius: 15px;
    }
    &__answer {
      text-align: center;
      font-size: 30px;
      font-weight: 600;
      color: #f2ad8a;
      margin-bottom: 10px;
    }
    &__submit {
      width: 100px;
      height: 40px;
      margin: 20px;
      @include mix.button;
      &:focus {
        outline: none;
      }
    }
  }