.sample_tiles {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(247, 226, 201);
  }

  
  .dog_image {
    width: 250px;
    height: 250px;
   margin: 20px;
  
    border-radius: 15px;
    cursor: pointer;
  }
  